.get-started-modal {

    .modal-body {
        padding: 40px 20px;

        .success-icon {
            width: 80px;
            height: 80px;
        }
    }

    .get-start-wrapper {
        min-height: 500px;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;

        ul {
            padding-left: 10px;
        }

        h4 {
            font-size: 24px;
        }

        .select-theme {
            margin: 25px 0;

            label {
                cursor: pointer;
                border: 1px solid transparent;
                padding: 10px;
                text-align: center;

                span {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 16px;
                    padding: 10px 0;
                }
            }

            input[type=radio] {
                display: none;

                + label {
                    border: 1px solid #c5c3c3;
                }

                &:checked {
                    + label {
                        border: 1px solid #1280f5;
                    }
                }
            }
        }

        .select-colors-fonts {
            margin: 25px 0;

            h6 {
                font-size: 16px;
                padding-bottom: 5px;
                border-bottom: 1px solid #ccc;
            }
        }

        .btn-primary {
            &.btn-bigger {
                padding: 8px 20px;
                min-width: 150px;
            }

            &.btn-bordered {
                background: #fff;
                color: #1280f5;
                border-width: 2px;
            }
        }

    }
}

.popover.colorpicker-bs-popover {
    z-index: 10051;

    &.fade {
        opacity: 1;
    }
}

.get-started-modal, .close-get-started-modal {
    .modal-content {
        .btn-close {
            position: absolute;
            right: 10px;
            top: 10px;
            outline: none;
            border: none;
            z-index: 10;
        }
    }

    .btn-primary {
        &.btn-bordered {
            background: #fff;
            color: #1280f5;
            border-width: 2px;
        }
    }
}

.close-get-started-modal {
    .get-start-wrapper {
        min-height: 200px;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
    }
}
