/node_modules
/vendor

.DS_Store
Thumbs.db
/bower_components
.env
.env.backup
/.idea
/.vscode
/.vagrant
/.scribe
/.env.testing
/.phpintel
/.php_cs.cache
/.sass-cache

Homestead.json
Homestead.yaml
npm-debug.log
sftp-config.json
.phpstorm.meta.php

_ide_helper_models.php
_ide_helper.php
__MACOSX


public/vendor/core
public/themes
public/docs
public/mix-manifest.json
/public/hot
/public/storage


package-lock.json
yarn.lock
.phpunit.result.cache

/storage/.license
/storage/*.key
/storage/app/backup
/storage/cache_keys.json
/storage/fonts
/storage/installing
/storage/installed
storage/framework/laravel-excel/

/lang/*
!/lang/en
/log