.auth-form-wrapper {
    min-height: calc(100vh - 447px);

    .login-form {
        padding: 20px;
        border: none;
        box-shadow: 0 -2px 10px 0px rgba(0, 0, 0, 0.15);
        margin: 120px auto;

        .form-group {
            margin-bottom: 15px;

            .form-control, .form-control:focus {
                box-shadow: none !important;
                outline: none !important;
            }
            .form-control {
                background-color: transparent;
                border: 1px solid #ddd;
                border-radius: 0;
                font-size: 14px;
                height: 40px;
                transition: all .4s ease;
                &:focus {
                    border-color: var(--color-1st);
                }
            }
        }

        .btn-primary {
            font-size: 15px !important;
            color: #fff;
            border-radius: 0 !important;
            padding: .5rem 1rem;
            line-height: 1.5;
            background: var(--color-1st);
            border: none;
            outline: none;

            &.btn-full {
                width: 100%;
            }
        }

        a {
            color: var(--color-1st);
        }
    }
}

